.SidebarItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 6px;
  height: 43px;
  color: white;
  padding: 0 25px;
  margin: 15px 15px;
  font-size: 0.9em;
  transition: background-color 0.4s ease-out 0.3s;
}

.SidebarItem:hover {
  background-color: #cb1a80;
  transition: background-color 0.1s ease-in;
}

.rightSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}

.sidebarItemIcon {
  color: white;
}

.active {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 6px;
  height: 43px;
  color: white;
  padding: 0 25px;
  margin: 15px 15px;
  font-size: 0.9em;
  background-color: #cb1a80;
}

/* media queries */

@media only screen and (max-width: 700px) {
  .SidebarItem {
    padding: 0 15px;
  }
}
