.Sidebar {
  height: 100%;
  width: 270px;
  background-color: #03123b;
  padding-top: 11px;
  position: relative;
  z-index: 1;
}

.logoContainer {
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 30px;
  margin-bottom: 30px;
}

.starWarsLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../assets/starwars-logo.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 43px;
  width: 50%;
}

.Sidebar a {
  color: inherit; /* Inherit the text color from the parent */
  text-decoration: none; /* Remove the underline */
}

/* .active {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 6px;
  height: 43px;
  color: white;
  padding: 0 25px;
  margin: 15px 15px;
  font-size: 0.9em;
  background-color: #cb1a80;
} */
